@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
.loginPage {
  background-image: url('https://scontent.famm6-1.fna.fbcdn.net/v/t31.0-8/13254737_1392314914117623_6715261289121393155_o.jpg?_nc_cat=107&_nc_ohc=y9VKo3RLzBMAQmd6BphZxw77pKOegzNiQJIF2ba8Wp0HYUljUwo6KW7tQ&_nc_ht=scontent.famm6-1.fna&oh=af96472fbb280941be07f997c1ccbdf7&oe=5E7D6D24');
  background-size: cover;
  height: 100vh;
  overflow: auto;
}
.loginPage .container {
  margin: auto;
  text-align: center;
  width: 800px;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}
.loginPage .description {
  color: #fff;
  font-size: 16px;
}
.opacity {
  display: table;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.85);
}
.opacity h1 {
  font-family: 'Tomorrow', sans-serif;
  color: #b40381 !important;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}
.loginPage ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 40px;
}
.loginPage .github-btn {
  width: 210px !important;
  margin: auto !important;
}
