@import '~antd/dist/antd.css';
.header-layout {
  padding-bottom: 80px;
  background-color: #ffffff;
}
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}
content {
  height: 2000px;
}
.logo img {
  height: 100%;
  margin-left: 20px;
}
.menu-item {
  display: flex !important;
  justify-content: space-around !important;
}
.search-bar > span {
  padding-top: 15px;
  width: 350px;
}
.search-bar .ant-input-group-addon button {
  padding: 0px;
  padding-left: 10px;
}
.search-wrapper .ant-menu.ant-menu-dark .ant-menu-item-selected,
.search-wrapper .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}
.radio-group-wrapper {
  margin-left: 15px;
}
.radio-group .radio-button span {
  color: #ffffff;
}
.ant-radio-input__placeholder {
  color: #000;
}
.header .user-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#logout {
  background-color: transparent;
  border: none;
}
#logout i {
  font-size: 24px;
  color: #ffffff;
}
.search-bar {
  display: flex;
  max-height: 60px;
}
.search-input {
  color: #000;
  width: 250px;
  height: 35px;
  border: 0px;
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 15px;
}
.search-btn {
  height: 35px;
  margin-top: 15px;
  border: 0;
  border-radius: 4px;
  line-height: 31px;
}
