@import '~antd/dist/antd.css';

.tabs-wrapper .tabs .ant-tabs-bar {
  margin-left: auto;
  margin-right: auto;
  width: 250px !important;
}
.tabs-wrapper .tabs .dragger {
  height: 0 !important;
}
.tabs-wrapper .tabs textarea,
.tabs-wrapper .tabs .dragger {
  min-height: 150px !important;
  width: 100%;
}

.tabs-wrapper .tabs .post-btn,
.tabs-wrapper .tabs .img-btn {
  display: block;
  margin: auto;
  margin-top: 15px;
}
