@import '~antd/dist/antd.css';
.user-profile {
  text-align: left !important;
}
#user-profile-heading {
  font-family: monospace;
  text-align: center;
}
.general-wrapper,
.bio-wrapper,
.portfolio-wrapper {
  margin-top: 25px;
}
.general-border {
  display: flex;
  padding: 20px 20px 20px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-box-shadow: 2px 6px 17px 0px rgba(9, 9, 10, 0.21);
  -moz-box-shadow: 2px 6px 17px 0px rgba(9, 9, 10, 0.21);
  box-shadow: 2px 6px 17px 0px rgba(9, 9, 10, 0.21);
  margin-top: 10px;
}
.bio-info,
.portfolio-info {
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-box-shadow: 2px 6px 17px 0px rgba(9, 9, 10, 0.21);
  -moz-box-shadow: 2px 6px 17px 0px rgba(9, 9, 10, 0.21);
  box-shadow: 2px 6px 17px 0px rgba(9, 9, 10, 0.21);
  margin-top: 10px;
}
.general .user-img img {
  width: 150px;
  height: 150px;
}
.general .user-name {
  display: block;
  margin-top: 10px;
}
.general .social-links {
  list-style: none;
  padding: 0px;
  justify-content: space-around;
  padding: 0px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.general .social-links .social-item {
  font-size: 20px;
}
.general-info {
  margin-left: 20px;
  padding-top: 20px;
  font-family: sans-serif;
  color: #000;
  font-size: 16px;
}
.bio-content {
  font-family: sans-serif;
  color: #000;
  font-size: 16px;
}
.skills-id {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #1890ff;
}
.skills-tags {
  margin-top: 10px;
}
.project-item {
  border-bottom: 1px solid #d9d9d9 !important;
  margin-bottom: 12px;
}
.project-item .ant-collapse-content-box {
  background-color: #ffffff;
}

.section-id {
  color: #1890ff;
  font-family: monospace;
  font-weight: bold;
  font-size: 22px;
}
.project-decription {
  font-family: sans-serif;
  color: #000;
  font-size: 14px;
}
.editt {
  display: flex;
  justify-content: space-between;
}
.edit-profile-text {
  color: #1890ff !important;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
}
.clear-btn {
  color: #1890ff;
  border-color: #1890ff;
  padding: 0px 10px;
  margin-left: 10px;
}
.social-links {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  padding: 0px 15px;
  margin-top: 10px;
}
